// 表頭設計
header {
    border: 1px $c-F1F1F1 solid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 12px;   
}

.logo {
    width: 90px;
}

.menu {
    display: flex;
    gap: 32px;

}

//nav瞄準框
.menu-list {
    @include fs-6;
    @include fw-400;
    position: relative;
    padding: 4px 8px;
}

.border_corner {
    position: absolute;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    opacity: 0;
}
.border-corner-top-left {
    border-left: 1px solid #919191;
    border-top: 1px solid #919191;
    left: 0px;
    top: 0px;
}
  .border-corner-top-right {
    border-top: 1px solid #919191;
    border-right: 1px solid #919191;
    top: 0px;
    right: 0px;
}
.border-corner-bottom-left {
    border-bottom: 1px solid #919191;
    border-left: 1px solid #919191;
    left: 0px;
    bottom: 0px;
}
.border-corner-bottom-right {
    border-bottom: 1px solid #919191;
    border-right: 1px solid #919191;
    right: 0px;
    bottom: 0px;
}
.menu-list:hover {
    @include fw-600;
}
.menu-list:hover .border_corner {
    opacity: 1;

}
// 結束

//漢堡選單
.menu-btn {
    visibility: hidden;
    order:1;
    cursor: pointer;
}
.menu-btn .menu-icon {
    display: none;
}
.menu-control:checked + .menu-btn .open-btn {
    display: none;
}
.menu-control:checked + .menu-btn .close-btn {
    display: inline;
}
.menu-control:not(:checked) + .menu-btn .open-btn {
    display: inline;
}
.menu-control:not(:checked) + .menu-btn .close-btn {
    display: none;
}

// 隱藏Checkbox
.menu-control {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 8px 12px;
    }
    .logo {
        width: 74px;
        height: 33px;
    }
    .menu-btn{
        visibility:visible;
    }
    .menu {
        display: none;
    }
    .menu-control:checked ~ .menu {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 59px;
        right: 0;
        gap: 25px;
        background-color: #fff;
        padding: 25px 0;
        border-top: 1px $c-F1F1F1 solid;
        border-bottom: 1px $c-F1F1F1 solid;
    }
    // 缺遮罩
}